h1 {
   color: #fbebcc; 
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

button {
    margin: 5px;
    background-color: black;
}

<<<<<<< HEAD
.homepage-bg {
=======
 .homepage-bg {
>>>>>>> 26f18d1b13ca7f3581a2c9e2683af555eb3de50b
    background-image: url("https://images.unsplash.com/photo-1531761535209-180857e963b9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-attachment: fixed;
} 